<%-include("./partials/header", { pageTitle: "Home" })-%>
  <body class="bg-teal-600 flex justify-center items-center">
    <main class=" ">
      <h1 class="text-white font-extrabold text-center text-4xl">Hello World</h1>
      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, modi.</p>
      <div class="bg-purple-700 p-8 rounded-md shadow-lg">
        <h1 class="text-4xl font-extrabold">Welcome to Tailwind CSS!</h1>
        <p class="mt-0 text-lg text-yellow-300">Enjoy building awesome designs with Tailwind CSS.</p>
      </div>
    </main>
  </body>
